<div>
    <h1>MANAGERS</h1>
    <table>
        <thead>
            <th>Indentificación</th>
            <th>Nombre</th>
            <th>Apellido</th>
        </thead>
        <tbody>
            <tr ng-repeat="manager in managers.managers">
                <td>{{manager.identification}}</td>
                <td>{{manager.firstName}}</td>
                <td>{{manager.lastName}}</td>
                <td><button ng-click="managers.update(manager.idManager)">Editar</button></td>
                <td><button ng-click="managers.delete(manager)">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
    <a ui-sref="managerForm">Crear</a>
</div>
<div ng-if="managers.del">
    <p>Esta seguro que desea eliminar a {{managers.textDelete}} esta accion no se puede desacer</p>
    <button ng-click="managers.confirmDelete()">Confirmar</button>
    <button ng-click="managers.cancelDelete()">Cancelar</button>
</div>